.elementor-22 .elementor-element.elementor-element-2c66ac5 {
  padding: 160px 0px 120px 0px;
}
.elementor-22 .elementor-element.elementor-element-563d8ae {
  padding: 120px 0px 120px 0px;
}
.elementor-22
  .elementor-element.elementor-element-b616dee
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-22 .elementor-element.elementor-element-b8260d5 {
  padding: 0px 60px 100px 60px;
}
.elementor-22
  .elementor-element.elementor-element-456f8a7
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-22 .elementor-element.elementor-element-a2c04e0 {
  padding: 0px 0px 120px 0px;
}
.elementor-22 .elementor-element.elementor-element-20778de {
  padding: 0px 60px 0px 60px;
}
.elementor-22
  .elementor-element.elementor-element-e16d95d:not(.elementor-motion-effects-element-type-background)
  > .elementor-widget-wrap,
.elementor-22
  .elementor-element.elementor-element-e16d95d
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../../../asset/images/message-women.jpg");
  background-size: cover;
}
.elementor-22
  .elementor-element.elementor-element-e16d95d:not(.elementor-motion-effects-element-type-background)
  > .elementor-widget-wrap.man,
.elementor-22
  .elementor-element.elementor-element-e16d95d
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../../../asset/images/message-man.jpg");
  background-size: cover;
  margin-bottom: 30px;  
}
.elementor-22
  .elementor-element.elementor-element-e16d95d
  > .elementor-element-populated
  > .elementor-background-overlay {
  background-color: #00315f;
  opacity: 0.3;
}
.elementor-22
  .elementor-element.elementor-element-e16d95d
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-22
  .elementor-element.elementor-element-e16d95d
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-22 .elementor-element.elementor-element-3cc2ab9 {
  padding: 120px 0px 90px 0px;
}
.elementor-22
  .elementor-element.elementor-element-de7adab
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-22
  .elementor-element.elementor-element-a4a6114:not(.elementor-motion-effects-element-type-background),
.elementor-22
  .elementor-element.elementor-element-a4a6114
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #edf3f8;
}
.elementor-22 .elementor-element.elementor-element-a4a6114 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-22
  .elementor-element.elementor-element-a4a6114
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-22 .elementor-element.elementor-element-cd92b90 {
  padding: 120px 0px 90px 0px;
}
.elementor-22
  .elementor-element.elementor-element-f83c2a5
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
@media (max-width: 1024px) {
  .elementor-22 .elementor-element.elementor-element-2c66ac5 {
    padding: 90px 0px 90px 0px;
  }
  .elementor-22 .elementor-element.elementor-element-563d8ae {
    padding: 90px 0px 90px 0px;
  }
  .elementor-22 .elementor-element.elementor-element-b8260d5 {
    padding: 0px 0px 80px 0px;
  }
  .elementor-22 .elementor-element.elementor-element-a2c04e0 {
    padding: 0px 0px 90px 0px;
  }
  .elementor-22 .elementor-element.elementor-element-20778de {
    padding: 0px 0px 0px 0px;
  }
  .elementor-22 .elementor-element.elementor-element-3cc2ab9 {
    padding: 90px 0px 60px 0px;
  }
  .elementor-22 .elementor-element.elementor-element-cd92b90 {
    padding: 90px 0px 60px 0px;
  }
}
@media (max-width: 767px) {
  .elementor-22 .elementor-element.elementor-element-2c66ac5 {
    padding: 80px 0px 80px 0px;
  }
  .elementor-22 .elementor-element.elementor-element-a2c04e0 {
    padding: 0px 0px 80px 0px;
  }
  .elementor-22 .elementor-element.elementor-element-3cc2ab9 {
    padding: 80px 0px 50px 0px;
  }
  .elementor-22 .elementor-element.elementor-element-cd92b90 {
    padding: 80px 0px 40px 0px;
  }
}
